inputs = [
  "@WEBGPU_HEADER@",
  "@WGPU_HEADER@"
]

output_folder = "wgpu"
package_name = "wgpu"

force_ada_case_types = true

remove_function_prefix = "wgpu"
remove_type_prefix = "WGPU"

clang_include_paths = [
  "@WGPU_FFI_DIR@",
  "@WEBPU_DIR@"
]
